body{
    background: linear-gradient(#FEFEFE, #888888);
    font-family: 'Rubik Vinyl', cursive;
    
}
h1 {
    box-shadow: 10px 10px 5px #6E6E6E;
    text-align: center;
    padding: 20px;
    margin: 0 50px 50px 0;
}

h1:hover {
    font-family:'Montserrat', sans-serif;
    font-size: 220%;
    text-decoration: underline;
    background:#D4D4D4;
    transition: 2s all;
    opacity: 0.6;


}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    background: #EDEDED;
    transition-duration: 2s;
    transition-timing-function: linear;
    border-radius: 20%;
 }

a:visited {
    color: #6E6E6E;
}

.img01, .img02{
    width: 290px;
    margin: 30px 70px 80px 25px;
    box-shadow: 10px 10px 30px ;
    border-radius: 5px;
    float: left;
}

#introdução > p, .aprendendo {
    font-size: 25px;
    padding: 50px 50px 50px 80px;
    line-height: 1.4em;
    
}

.video {
    float: right;
    padding: 95px;
    border-radius: 10px;
    
}

.conhecendo > p {
    font-size: 25px;
    padding: 100px;
    box-shadow: 10px 10px 25px ;
    border-radius: 5px;
}

footer {
    text-align: center;
    background-color: #888888;
    padding: 40px 0;
    width: auto;
}

.copyright {
    font-weight: bold;
    font-size: 13px;
    margin-top: 20px;
    width: auto;
}

/*Deixando o site responsivo*/
@media screen and (max-width: 485px) {
    body {
        font-family: 'Courier New', Courier, monospace;

    }
    h1 {
        text-align: center;
        font-size: 25px;
    }
    
    .conhecendo > p {
        font-size: 18px;
        padding: 0px 50px 8px 4px;
    }
    .img01, .img02 {
        width: 80%;
        font-size: 50px;
    }

    .video {
        width: 80%;
        margin: 23px -48px -45px;
    }
   
}
